*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
#body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    line-height: 1.5;
    background: #fff;
    margin-left: 7rem;
    font-style: normal;
    margin: auto;
    max-width: 1100px;
}
#social-icons{
    display: grid;
    grid-template-columns: 1rem 1rem 1rem 1rem;
    grid-gap: 2rem;
    position: absolute;
    top: 0.5rem;
    right: 3rem;
}
a{
    text-decoration: none;
    padding: 0.2rem 0.9rem;
   
    display: inline-block;
    color: black;
    background: white;
}
h1,h2,h3,h4,h5,h6{
    font-weight: bold;
    line-height: 1.3;
}
